html {
    background: black;
}

#main {
    color: white;
    text-align: center;
    font-family: 'Patrick Hand', cursive;
    margin: 35px auto;
    padding: 25px;
    font-size: 18px;
    background: black;
}

#title {
    font-family: 'Pacifico', cursive;
    font-size: 32px;
    padding-top: 16px;
}

#image {
    max-width: 100%;
    display: block;
    height: auto;
    margin: auto;
    border-radius: 5px;
}

#img-caption {
    font-size: 24px;
}

#tribute-info {
    text-align: left;
    padding-bottom: 30px;
}

#tribute-link {
    color: yellow;
}